connections:
 - connection: <user>/<pass>@<tnsname>
   database: DEVELOP
   instance: DEVELOP
   alertlog:
    - file: /data/oracle/diag/rdbms/develop/DEVELOP/trace/alert_DEVELOP.log
      ignore:
        - ORA-00001
        - ORA-01033
        - ORA-01041
        - ORA-01089
        - ORA-01555
        - ORA-28
        - ORA-235
        - ORA-609
        - ORA-3136
    - file: /u01/app/oracle/product/12.1.0/gg_12201/ggserr.log
      ogg: true
      ignore:
        - OGG-123
        - OGG-456
        - OGG-789
   queries:
    - sql: "select 1 from dual"
      name: sample1
    - sql: "select 2 from dual"
      name: sample2

 - connection: <user>/<pass>@<tnsname>
   database: STAGE
   instance: STAGE
   alertlog:
    - file: /data/oracle/diag/rdbms/stage/STAGE/trace/alert_STAGE.log
      ignore:
      - ORA-00001
      - ORA-01033
      - ORA-01041
      - ORA-01089
      - ORA-01555
      - ORA-28
      - ORA-235
      - ORA-609
      - ORA-3136
   queries:
    - sql: "select 3 from dual"
      name: sample3
    - sql: "select 4 from dual"
      name: sample3
